.container-box {
  max-width: 280px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title-box {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.description-box {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 45%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}